:root{
  --fontFamily-main: Inter, sans-serif;
  --fontSize-heading1: 36px;
  --fontSize-heading2: 30px;
  --fontSize-heading3: 24px;
  --fontSize-body: 16px;

  --padding-extra-large: 64px;
  --padding-large: 32px;
  --padding-medium: 16px;
  --padding-small: 8px;
  --padding-extreme-small: 4px;

  --margin-extra-large: 64px;
  --margin-large: 32px;
  --margin-medium: 16px;
  --margin-small: 8px;
  --margin-extreme-small: 4px;

  --margin-section: 100px;

  /* Color list */

  /* Components */
  --link-hover-color: gray;
  --link-color: black;
  
  --bg-secondary-color: #f1f5f9;

  --font-body-color: #5f5f5f;
  --font-button-color: #ffff;

  --button-primary-color: #0c0c0c;
  --button-primary-hover-color: #5f5f5f;

  --button-icon-color: #ffff;
  --button-icon-hover-color: #E2E8F0;
  --button-icon-border-color: #e2e8f0;

  --radius-sm: 4px;
  --radius-md: 6px;
}

/* ====== global settings ====== */
/* disable horizontal scrolling */
body, html {
  max-width: 100vw;
  overflow-x: hidden;
}
/* font settings */
h1 {
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: -0.9px;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.75px;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.6px;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.5px;
}
.lead {
  font-family: Inter;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}
.table-head {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
}
.paragraph {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
}
small {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.muted {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

body{
  font-family: var(--fontFamily-main);
  line-height: 1.25;
}

/* ====== components ====== */

/* Button*/
.icon-button{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button-icon-color);
  width: 40px;
  height: 40px;
  border-radius: var(--radius-md);
  border: 1px solid var(--button-icon-border-color);
}

.icon-button:hover{
  background-color: var(--button-icon-hover-color);
}


/* ====== Utilities ======*/
/* Check all image with alt attribute */
img { border: 10px solid red; }
img[alt]:not([alt=""]) { border:none; }

/* == Navigation */
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-large);
  margin-left:  var(--margin-section);
  margin-right: var(--margin-section);
}

.nav__list{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none; /* Remove default list styling */
  
  padding-top: var(--padding-large); 
  padding-bottom: var(--padding-large); 
}

.nav__item{
  margin: 0px var(--margin-large);
}

.nav__link{
  color: var(--link-color);
  text-decoration: none;
  font-size: var(--fontSize-body);
}

.nav__item a:hover{
  color: var(--link-hover-color);
}

.menu-button{
  display: none;
}

/* ====== Header ======*/
/* Avatar */
.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: var(--margin-large);
  
  padding-top: var(--padding-large);
  padding-bottom: var(--margin-extra-large);
  margin-left:  var(--margin-section);
  margin-right:  var(--margin-section);
}

.intro__image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.intro__title{
  text-align: center;
  width: 400px;
}

.intro__description{
  color: var(--font-body-color);
  text-align: center;
  width: 400px;
}

/* Action */
.intro__action{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: var(--margin-large);
}

.intro__button{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button-primary-color);
  width: 140px;
  height: 50px;
  border-radius: 30px;
  color: var(--font-button-color);
  
  font-size: var(--fontSize-body);
  text-decoration: none;

  transition-duration: 0.4s;
  cursor: pointer;

  
}

.intro__button:hover{
  background-color: var(--button-primary-hover-color);
  border: 1px solid var(--button-icon-hover-color);
}

.intro__link{
  font-size: var(--fontSize-body);
  color: var(--link-color);
  text-decoration: none;
}

.intro__link:hover{
  color: var(--link-hover-color);
}

/*====== Skill list ==========*/
/*skill item*/
.skillItem{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
  column-gap: var(--margin-large);

  width: 480px;
}

.skillItem__content{
  display: flex;
  flex-direction: column;
}

.skillItem__image{

}

.skillItem__title{
}

.skillItem__description{
  color: var(--font-body-color);
}

/*skill list*/
.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  row-gap: var(--margin-large);
  padding-top: var(--margin-extra-large);

  margin-left:  var(--margin-section);
  margin-right:  var(--margin-section);
}

/* ====== Experiences ==========*/
/* experiences block */
.experiences{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left:  var(--margin-section);
  margin-right:  var(--margin-section);
  padding-top: var(--margin-extra-large);
}

/* achievement block */
.achievement{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: var(--margin-large);
}
.achievement > div,.achievement >  h2,.achievement > p{
  width: 200px;
  text-align: center;
}


/* timeline */
.timeline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-top: var(--margin-extra-large);
}

.timeline__item{
  position: relative; /* Set as positioned parent element for ::after and ::before child element */
  
  display: flex;
  flex-direction: row;  
  width: 100%;
  height: 200px;
}

.timeline__left {
  width: 50%;

  text-align: right;
  padding-right: var(--padding-extra-large);
}

.timeline__right {
  width: 50%;

  text-align: left;
  padding-left: var(--padding-extra-large);
}


/* Vertical line */
.timeline__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: gray;
  transform: translateX(-50%);
}

/* Dot at the top */
.timeline__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 10px;

  background-color: black;
  border-radius: 50%;
  border: 4px solid gray;

  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}

.timeline__item:hover::after {
  transform: translate(-50%, -50%) scale(1.5);
}

.timeline__company, .timeline__duration{
  text-align: right;
}

.timeline__title, .timeline__highlights{
  text-align: left;
}

.timeline__highlights{
  list-style-type: disc;
  padding-top: var(--padding-extreme-small);
}

.timeline__duration{
  padding-top: var(--padding-extreme-small);
}

/* ====== Recent work ==========*/
/* Recent work section */
.recent-work{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: var(--margin-large);

  padding-top: var(--margin-extra-large);
  margin-left:  var(--margin-section);
  margin-right:  var(--margin-section);
}

.recent-work__title{
  text-align: center;
}

/* Recent work carousel */
.recent-work__carousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: var(--margin-large);
  padding-top: var(--margin-extra-large);
}

.recent-work__list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: var(--margin-large);
}

/* Card component */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-radius: var(--radius-sm);
  max-width: 376px;
  max-height: 400px;

  min-width: 260px;
  min-height: 260px;

  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.card:hover{
  transform: scale(1.1);
}

.card__img {
  width: 376px;
  border-radius: var(--radius-sm) var(--radius-sm) 0px 0px;
}

.card__title {
  padding-top: var(--padding-medium);
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);
}

.card__intro {
  padding-top: var(--padding-small);
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);
  padding-bottom: var(--padding-extreme-small);
}

/* ====== Footer ==========*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-secondary-color);
  height: 240px;
  margin-top: var(--margin-extra-large);
  padding-left: var(--margin-section);
  padding-right: var(--margin-section);
}

footer > h2{
  width: 400px;
  height: 96px;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--margin-medium);
}


/* ====== Projects  ==========*/
/* Project list */
.project__list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: var(--margin-large);
  row-gap: var(--margin-extra-large);

  padding-top: var(--margin-extra-large);
  margin-left:  var(--margin-section);
  margin-right:  var(--margin-section);
}

.project__title{
  text-align: left;
  margin-left:  var(--margin-section);
  margin-right:  var(--margin-section);
}


/* ====== RWD ==========*/
@media screen and (max-width: 768px) {
  .nav__list{
    flex-direction: column;
    justify-content: right;
    align-items: center;
    row-gap: var(--margin-large);
    margin-top: var(--margin-large);
  }

  .nav__item{
    display: flex;
    justify-content: end;
    height: 32px;
    width: 80%;
  }

  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .menu__hide{
    display: none;
    width: 100%;
    margin-top: var(--margin-large);
  }

  .menu__show{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 80%;
    margin-top: var(--margin-large);
  }

  .menu-button{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav > .contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }

  :root{
  --padding-extra-large: 32px;
  --padding-large: 16px;
  --padding-medium: 8px;
  --padding-small: 4px;
  --padding-extreme-small: 2px;

  --margin-extra-large: 32px;
  --margin-large: 16px;
  --margin-medium: 8px;
  --margin-small: 4px;
  --margin-extreme-small: 2px;

  --margin-section: 32px;
  }


  /* ====== Recent work ==========*/
  /* Recent work carousel */
  .recent-work__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: var(--margin-extra-large);
  }

  .recent-work__button{
    display: none;
  }

  /* ====== Header ==========*/
  .intro__title, .intro__description{
    width: 90%;
  }

  /* ====== Footer ==========*/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary-color);
    margin-top: var(--margin-extra-large);
    padding-left: var(--margin-section);
    padding-right: var(--margin-section);
    text-align: center;
  }

  footer > h2{
    width: 80%;
    margin-bottom: var(--margin-extra-large);
  }

  /* ====== component ==========*/
  .card {
    width: 90%; 
    height: auto; 
  }

  .card__img {
    width: 100%; 
  }

  /* ====== Timeline  ==========*/

  .timeline__item{
    position: relative; /* Set as positioned parent element for ::after and ::before child element */
    
    display: flex;
    flex-direction: column;  
    width: 100%;
    height: 250px;
  }

  .timeline__left {
    width: calc(100% - var(--padding-extra-large));
    text-align: left;
    padding-left: var(--padding-extra-large);
    padding-right: 0px;
    padding-bottom: var(--padding-medium);
  }
  
  .timeline__right {
    width: calc(100% - var(--padding-extra-large));
    text-align: left;
    
  }

  .timeline__company, .timeline__duration{
    text-align: left;
  }

  /* Vertical line */
.timeline__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  width: 2px;
  background-color: gray;
  transform: translateX(-50%);
}

/* Dot at the top */
.timeline__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 10px;
  height: 10px;

  background-color: black;
  border-radius: 50%;
  border: 4px solid gray;

  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}

}

