:root{
  --main-font: Inter, sans-serif;
  --h1-font-size: 36px;
  --h2-font-size: 30px;
  --h3-font-size: 24px;
  --body-font-size: 16px;

  --padding-extra-large: 64px;
  --padding-large: 32px;
  --padding-medium: 16px;
  --padding-small: 8px;
  --padding-extreme-small: 4px;

  --margin-extra-large: 64px;
  --margin-large: 32px;
  --margin-medium: 16px;
  --margin-small: 8px;
  --margin-extreme-small: 4px;

  --link-hover-color: gray;
  --link-color: black;
  
  --font-body-color: #5f5f5f;
  --font-button-color: #ffff;

  --button-regular-color: #0c0c0c;
  --button-hover-color: #5f5f5f;
}

/* ====== global settings ====== */

h1 {
  font-size: 36px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: -0.9px;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.75px;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.6px;
}
h4 {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.5px;
}
.lead {
  font-family: Inter;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}
.table-head {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
}
.paragraph {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
}
small {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.muted {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

body{
  font-family: var(--main-font);
  line-height: 1.25;
}


/* ====== Utilities ======*/
/* Check all image with alt attribute */
img { border: 10px solid red; }
img[alt]:not([alt=""]) { border:none; }

/* == Navigation */
.nav__list{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none; /* Remove default list styling */
  
  padding-top: var(--padding-large); 
  padding-bottom: var(--padding-large); 
  margin-left: 100px;
  margin-right: 100px;
}

.nav__item{
  margin: 0 var(--margin-large);
}

.nav__link{
  color: var(--link-color);
  text-decoration: none;
  font-size: var(--body-font-size);
}

.nav__item a:hover{
  color: var(--link-hover-color);
}


/* ====== Header ======*/
/* Avatar */
.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: var(--margin-large);
  
  padding-top: var(--padding-large);
  padding-bottom: var(--margin-extra-large);
  margin-left: 100px;
  margin-right: 100px;
}

.intro__image {
 width: 100px;
 height: 100px;
 object-fit: cover;
 border-radius: 50%;
}

.intro__title{
  text-align: center;
  width: 400px;
}

.intro__description{
  color: var(--font-body-color);
  text-align: center;
  width: 400px;
}

/* Action */
.intro__action{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: var(--margin-large);
}

.intro__button{
  background-color: var(--button-regular-color);
  width: 140px;
  height: 50px;
  border-radius: 30px;

  color: var(--font-button-color);
  font-size: var(--body-font-size);

  transition-duration: 0.4s;
  cursor: pointer;
}

.intro__button:hover{
  background-color: var(--button-hover-color);
}

.intro__link{
  font-size: var(--body-font-size);
  color: var(--link-color);
  text-decoration: none;
}

.intro__link:hover{
  color: var(--link-hover-color);
}

/*====== Skill list ==========*/
/*skill item*/
.skillItem{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
  column-gap: var(--margin-large);

  width: 480px;
}

.skillItem__content{
  display: flex;
  flex-direction: column;
}

.skillItem__image{

}

.skillItem__title{
}

.skillItem__description{
  color: var(--font-body-color);
}

/*skill list*/
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  
  row-gap: var(--margin-large);
  padding-top: var(--margin-extra-large);

  margin-left: 100px;
  margin-right: 100px;
}

/* ====== Experiences ==========*/
/* experiences block */
.experiences{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 100px;
  margin-right: 100px;
  padding-top: var(--margin-extra-large);
}

/* achievement block */
.achievement{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: var(--margin-large);
}
.achievement > div,.achievement >  h2,.achievement > p{
  width: 200px;
  text-align: center;
}


/* timeline */
.timeline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-top: var(--margin-large);
}

.timeline__item{
  position: relative; /* Set as positioned parent element for ::after and ::before child element */
  
  display: flex;
  flex-direction: row;  
  width: 100%;
  height: 200px;
}

.timeline__left {
  width: 50%;

  text-align: right;
  padding-right: var(--padding-extra-large);
}

.timeline__right {
  width: 50%;

  text-align: left;
  padding-left: var(--padding-extra-large);
}


/* Vertical line */
.timeline__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: gray;
  transform: translateX(-50%);
}

/* Dot at the top */
.timeline__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 10px;

  background-color: black;
  border-radius: 50%;
  border: 4px solid gray;

  transform: translate(-50%, -50%);
}

.timeline__company, .timeline__duration{
  text-align: right;
}

.timeline__title, .timeline__highlights{
  text-align: left;
}

.timeline__highlights{
  list-style-type: disc;
  padding-top: var(--padding-extreme-small);
}

.timeline__duration{
  padding-top: var(--padding-extreme-small);
}


